@media screen and (max-width: 1261px) {
    // telefon footer
    .footer {
        &__content {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
    :root {
        --swiper-navigation-size: 25px;
    }
}
@media screen and (max-width: 1251px) {
    // icons
    .icons {
        max-width: 100%;
        &__flex {
            display: none;
        }
        &__swiper {
            display: block;
            width: 90%;
            height: 90px;
          }
    }
    .swiper-slide, .swiper-slide-active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left__icons, .right__icons {
        color: white;
    }
    .banner__circle--vour {
        display: none;
    }    
}
@media screen and (max-width: 1176px) {
    // orders
    .orders {
        &__mobile {
            display: block;
            margin-bottom: 90px;
        }
        &__comp {
            display: none;
        }
        &__swiper {
            display: block;
            width: 90%;
            height: 430px;
        }
        &__img {
            position: absolute;
        }
        &__item {
            margin-top: 109px;
            box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
            background: linear-gradient(180deg, #e5e5e5 0%, #F7F9FD 100%);
        }
        &__bg {
            top: 217px;
        }
    }
    .left__orders, .right__orders {
        color: white;
        margin-top: 65px;
    }
}
@media screen and (max-width: 1102px) {
    //banner__right
    .banner {
        display: none;
      }
}
@media screen and (max-width: 1086px) {
    // interview__title
    .interview {
        display: block;
        position: relative;
        &__content {
            display: none;
        }
        &__mobile {
            display: flex;
            align-items: center;
        }
        &__mob {
            margin: 0 auto;
            max-width: 100%;
        }
        &__title {
            text-align: center;
            margin: 0 auto 27px auto;
            width: 371px;
        }
        &__right {
            display: block;
            margin: 0 auto;
        }
        &__button {
            max-width: 278px;
            margin: 27.48px auto 90px auto;
        }
    }
}
@media screen and (max-width: 976px) {
    // interview__data and hopes
    .hopes {
        &__content {
            display: none;
        }
        &__swiper {
            display: block;
            width: 90%;
            height: 175px;
            margin: 90px auto 33px auto;
        }
    }
    .left__hopes, .right__hopes {
        color: $text-aqua;  
    }
}
@media screen and (max-width: 950px) {
    // Номера
    .header {
        &__right {
            display: none;
        }
        &__logo {
            min-width: 318px;

        }
        &__left {
            margin: 0 auto;
        }
        &__content {
            margin: 44px 0 63px 0;
        }
    }

}
@media screen and (max-width: 922px) {
    // hero__bg
    .hero {
        position: relative;
        &__title {
            text-align: center;
            margin: 0 auto 16px auto;
            width: 222px;
        }
        &__data {
            margin: 0 auto 152px auto;
        }
        &__btn {
            margin: 0 auto 200px auto;
        }

        &__mb {
            max-width: 100%;
        }

        &__left {
            width: 100%;
        }
        &__button {
            margin: 0 auto;
            width: 225px;
        }
        &__mobile {
            display: none;
        }
        &__content {
            flex-wrap: wrap;
        }

        &__right {
            position: absolute;
            z-index: -1;
            top: 135px;
            left: 0px;
        }
    }
    .hero {
        &__right {
            display: none;
        }
        &__mobile {
            display: block;
            position: absolute;
            z-index: -1;
            top: 125px;
        }
        &__btn {
            margin: 0 auto 163px auto;
        }
    }

}
@media screen and (max-width: 866px) {
    // interview__btn
}
@media screen and (max-width: 800px) {
    // project
    .project {
        &__swiper {
            display: block;
            width: 90%;
            height: 400px;
        }
        &__comp {
            display: none;
        }
        &__title {
            text-align: center;
            margin: 0 auto 29px auto;
            width: 315px;
        }
        &__btn {
            margin-top: 42px;
        }
        &__cell {
            box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
            position: absolute;
            top: -1px;
        }
        &__button {
            margin-bottom: 0;
        }
    }
    .left__project, .right__project {
        margin-top: 120px;
        color: $text-aqua;  
    }
}
@media screen and (max-width: 769px) { 
    .header {
        &__right {
            display: none;
        }
        &__logo {
            min-width: 318px;

        }
        &__left {
            margin: 0 auto;
        }
        &__content {
            margin: 44px 0 63px 0;
        }
    }
    .banner {
      display: none;
    }
    .application {
        display: block;
        &__content {
            flex-wrap: wrap;
        }
        &__btn {
            margin: 53px auto 90px auto;
        }
    }
    .footer {
        &__linktwo {
            margin-top: 35px;
        }
        &__link {
            margin: 10px auto 0 auto;
        }
        &__logo {
            display: none;
        }
        &__site {
            margin: 0 auto;
        }
        &__date {
            max-width: 200px;
            margin-bottom: 150px;
            margin-top: 35px;
        }
    }
}
@media screen and (max-width: 755px) {
    .hero {
        &__right {
            display: none;
        }
        &__mobile {
            display: block;
            position: absolute;
            z-index: -1;
            top: 125px;
        }
        &__btn {
            margin: 0 auto 163px auto;
        }
    }
    .left__project, .right__project {
        margin-top: 140px;
        color: $text-aqua;  
    }
    .project {
        &__swiper {
            display: block;
            width: 90%;
            height: 420px;
        }
    }
}
@media screen and (max-width: 371px) {
    .interview {
        &__title {
            width: 320px;
            margin-bottom: 100px;
        }
    }
    
}